* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

body, html {
  width: 100%;
  height: 100vh;
  overflow: hidden
}

.doraemon {
  width: 500px;
  height: 610px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto auto 33vw;
}

#buttons {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

#buttons > button {
  margin-bottom: 10px;
  padding: 4px 8px;
}

#html {
  position: fixed;
  height: 100vh;
  width: 33vw;
  min-width: 270px;
  top: 0;
  left: 16px;
  overflow-y: auto;
  z-index: 10;
}

#html::-webkit-scrollbar {
  display: none;
}

@keyframes eye-close {
  0%, 3%, 6%, 100% {
    height: 100%;
  }
  1.5%, 4.5% {
    height: 5%;
  }
}